<% layout("layouts/biolerplate") %>
<body class="bg-light">
  <div class="container py-5 text-center">
    <h1 class="text-danger">Error <%= err.statusCode %></h1>
    <p class="lead"><%= err.message %></p>
    <a href="http://localhost:3000/history" class="btn btn-primary mt-3">Go Home</a>
  </div>
</body>
